#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* BeautifulScreeen CSS */
.beautiful-screen {
  background-color: #333; /* Couleur de fond */
  border: 2px solid #444; /* Bordure */
  border-radius: 5px; /* Coins arrondis */
  padding: 10px;
  margin: 10px;
  text-align: right; /* Alignement du texte à droite */
  font-size: 24px;
  color: #fff; /* Couleur du texte */
}

.input {
  font-weight: bold; /* Texte en gras pour l'entrée */
}

.result {
  font-size: 36px; /* Taille de police plus grande pour le résultat */
}


/* NumberButton CSS */
.number-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Répartit les boutons en 3 colonnes égales */
  grid-gap: 10px; /* Espace entre les boutons */
  justify-content: center; /* Centre les boutons horizontalement */
  align-content: center; /* Centre les boutons verticalement */
  width: 300px; /* Largeur du clavier numérique */
  margin: 0 auto; /* Centre le clavier numérique horizontalement */
}

.number-button {
  background-color: #3498db; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  font-size: 24px; /* Taille de police */
  padding: 15px 20px; /* Espace intérieur du bouton */
  border: 2px solid #2980b9; /* Bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de souris au survol */
  transition: background-color 0.3s; /* Animation de changement de couleur au survol */

  /* Styles de survol */
  &:hover {
    background-color: #2980b9;
  }
}

/* Ajoutez d'autres styles CSS au besoin pour personnaliser davantage */
